

.chart-box{
    margin: 5px;
    padding: 20px;
    background-color: rgb(196, 239, 255);
    display: flex;
    justify-content: center;
    height: 500px;
    width: 650px;
    border-radius: 12px;
}

.box-container{

    display: flex;
    gap: 5px;

    
}