.related-input-drop-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    padding: 20px;
    width: fit-content;
    background-color: #f0f6fb;
    border-radius: 10px;
    border: 2px dashed #555;
    color: #444;
    transition: background .2s ease-in-out, border .2s ease-in-out;
    
  }

  
    /* .input-drop-container:hover {
      background: #eee;
      border-color: #111;
      
    }
    */
  

  .related-file-upload-input[type=file] {
    width: 300px;
    max-width: 85%;
    color: #444;
    padding: 5px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #555;
  }

.related-file-upload-input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: black;
    padding: 10px 20px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }
  
  /* .related-file-upload-input[type=file]::file-selector-button:hover {
    background: steelblue;
    
    /* transition: transform .1s ease-in;
    transform: scale(1.1);
    margin-left: 3px; */
    
  
  
  

  .related-modal-box{

    padding: 30px;
    height: 250px;
    width: 500px;
  }

  @media (max-width: 636px) {
    .related-modal-box{
      width: 100%;
    }
  }

.related-file-box{

  height: 180px;
}


@media (min-width: 636px) {
  .related-file-box{

      width: 100%;
  }
  
}

